@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 100;
  font-display: swap;
  src: url("Inter-Thin.d52e5e387155.woff2?v=3.19") format("woff2"),
       url("Inter-Thin.b068b7189120.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 100;
  font-display: swap;
  src: url("Inter-ThinItalic.a9780071b7f4.woff2?v=3.19") format("woff2"),
       url("Inter-ThinItalic.97bec98832c9.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 200;
  font-display: swap;
  src: url("Inter-ExtraLight.b3b2ed6a20c5.woff2?v=3.19") format("woff2"),
       url("Inter-ExtraLight.dd19efda9c6e.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 200;
  font-display: swap;
  src: url("Inter-ExtraLightItalic.079cd1e71cd4.woff2?v=3.19") format("woff2"),
       url("Inter-ExtraLightItalic.a6566ae6fa3c.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("Inter-Light.780dd2adb71f.woff2?v=3.19") format("woff2"),
       url("Inter-Light.5d3776eb7837.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 300;
  font-display: swap;
  src: url("Inter-LightItalic.df29c53403b2.woff2?v=3.19") format("woff2"),
       url("Inter-LightItalic.d0fa7cbcf9ca.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("Inter-Regular.dc1311138942.woff2?v=3.19") format("woff2"),
       url("Inter-Regular.3ac83020fe53.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("Inter-Italic.fd26ff23f831.woff2?v=3.19") format("woff2"),
       url("Inter-Italic.f137a90d649b.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("Inter-Medium.75db5319e7e8.woff2?v=3.19") format("woff2"),
       url("Inter-Medium.c0638bea87a0.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 500;
  font-display: swap;
  src: url("Inter-MediumItalic.f1e11535e56c.woff2?v=3.19") format("woff2"),
       url("Inter-MediumItalic.a1b588627dd1.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("Inter-SemiBold.007ad31a53f4.woff2?v=3.19") format("woff2"),
       url("Inter-SemiBold.66a68ffab2bf.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 600;
  font-display: swap;
  src: url("Inter-SemiBoldItalic.3031b683bafc.woff2?v=3.19") format("woff2"),
       url("Inter-SemiBoldItalic.6cd13dbd150a.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("Inter-Bold.444a7284663a.woff2?v=3.19") format("woff2"),
       url("Inter-Bold.99a0d9a7e4c9.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("Inter-BoldItalic.96284e2a02af.woff2?v=3.19") format("woff2"),
       url("Inter-BoldItalic.3aa31f7356ea.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("Inter-ExtraBold.37da9eecf61e.woff2?v=3.19") format("woff2"),
       url("Inter-ExtraBold.ab70688a1c9d.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 800;
  font-display: swap;
  src: url("Inter-ExtraBoldItalic.fcc7d60ef790.woff2?v=3.19") format("woff2"),
       url("Inter-ExtraBoldItalic.728a4c7df3ed.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("Inter-Black.661569afe57a.woff2?v=3.19") format("woff2"),
       url("Inter-Black.d0b121f3a9d3.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 900;
  font-display: swap;
  src: url("Inter-BlackItalic.a3cc36c89047.woff2?v=3.19") format("woff2"),
       url("Inter-BlackItalic.e3329b2b90e1.woff?v=3.19") format("woff");
}

/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
*/
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("Inter-roman.var.66c6e4088364.woff2?v=3.19") format("woff2");
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("Inter-italic.var.1f7ca6383ea7.woff2?v=3.19") format("woff2");
}


/* --------------------------------------------------------------------------
[EXPERIMENTAL] Multi-axis, single variable font.

Slant axis is not yet widely supported (as of February 2019) and thus this
multi-axis single variable font is opt-in rather than the default.

When using this, you will probably need to set font-variation-settings
explicitly, e.g.

  * { font-variation-settings: "slnt" 0deg }
  .italic { font-variation-settings: "slnt" 10deg }

*/
@font-face {
  font-family: 'Inter var experimental';
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("Inter.var.8dd26c3dd012.woff2?v=3.19") format("woff2");
}
