{% extends "base.html" %}
{% block title %}
  Detail
{% endblock title %}
{% block content %}
  <div class="post-detail">
    <h2>{{ post.title }}</h2>
    <p class="text-dark">Written by: {{ post.author }}</p>
    <p>{{ post.body }}</p>
  </div>
  <div class="d-flex p-1" style="gap:10px">
    <a class="btn btn-primary mr-2" href="{% url 'post_edit' post.pk %}">Edit</a>
    <a class="btn btn-danger" href="{% url 'post_delete' post.pk %}">Delete</a>
  </div>
{% endblock content %}
