{% extends "base.html" %}
{% block title %}
  Home
{% endblock title %}
{% block content %}
  {% for post in post_list %}
    <div class="post-entry my-4 card p-4">
      <h2>
        <a class="text-decoration-none" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
      </h2>
      <p class="mb-0 text-muted font-italic">{{ post.author }}</p>
      <p class="mb-0">{{ post.body|truncatewords:20|linebreaks }}</p>
    </div>
  {% endfor %}
{% endblock content %}
