{% extends "base.html" %}
{% block content %}
  <h1>Delete post</h1>
  <form action="" method="post">
    {% csrf_token %}
    <p>Are you sure to delete {{ post.title }}?</p>
    <div class="d-flex justify-content-between">
      <a href="{% url 'post_detail' post.pk %}"
         class="btn btn-terriary table-bordered">Cancel</a>
      <input class="btn btn-danger" type="submit" value="Delete" />
    </div>
  </form>
{% endblock content %}
