{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description"
          content="Blogin is an open source blogging app written with python framework django"/>
    <meta name="keywords" content="Blog"/>
    <link rel="shortcut icon"
          href="{% static 'img/favicon.png' %}"
          type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'fonts/Inter/inter.css' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    {% block head %}
    {% endblock head %}
    <title>Blogin
      {% block title %}
      {% endblock title %}
    </title>
  </head>
  <body class="bg-light min-vh-100 d-flex flex-column h-100">
    {% comment %} Navbar {% endcomment %}
    {% include "navbar.html" %}
    {% comment %} Main content {% endcomment %}
    <main role="main" class="flex-shrink-0">
      <div class="container">
        {% block content %}
        {% endblock content %}
      </div>
    </main>
    {% comment %} Footer {% endcomment %}
    {% include "footer.html" %}
    <script src="{% static 'jquery/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
