{% load static %}
<footer class="footer mt-auto py-3">
  <div class="container d-flex justify-content-between">
    <span class="text-muted">&copy; Dayal Moirangthem, 2022</span>
    <span class="text-muted align-center">powered by
      <img src="{% static 'img/favicon.png' %}"
           height="20px"
           width="20px"
           alt=""/>
    </span>
  </div>
</footer>
