{% load static %}
{% comment %} <header class=" nav-tabs" style="background-color: #e3f2fd;">
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-light container">
    <a class="navbar-brand" href="{% url 'home' %}">Bloggin</a>
    <div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
    </div>
    <div class="navbar-nav ml-auto d-flex align-items-center" style="gap: 10px">
      {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'post_new' %}">+ New Blog Post</a>
        <span class="align-self-center">{{ user.username }}</span>
        <span class="d-flex">
          <img src="{% static 'img/avatar.png' %}" height="32px" width="32px" alt="avatar" class="rounded-circle"/>
        </span>
      {% else %}
        <a href="{% url 'login' %}" class="nav-link">Log in</a>
      {% endif %}
    </div>
  </nav>
</header> {% endcomment %}
<header class="mb-4">
  <nav class="navbar navbar-expand-lg bg-primary navbar-dark">
    <div class="container d-flex flex-row">
      <a class="navbar-brand" href="{% url 'home' %}">Bloggin</a>
      <button class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item show">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item show">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item show">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item dropdown show">
            <a class="nav-link dropdown-toggle"
               href="#"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false">
              Dropdown link
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#">Action</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Another action</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="btn-group navbar-nav ml-auto d-flex align-items-center align-self-end">
        {% if user.is_authenticated %}
          <a class="nav-link text-white" href="{% url 'post_new' %}">+ New Blog Post</a>
          <button class="avatar btn btn-tertiary border-0 d-flex flex-row dropdown-toggle align-items-center text-white fw-semibold"
                  type="button"
                  id="triggerId"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
            <img src="{% static 'img/avatar.png' %}"
                 height="37px"
                 width="37px"
                 alt="avatar"
                 class="rounded-circle mx-2 border border-4 border-white border-opacity-25"/>
          </button>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="triggerId">
            <span class="d-flex align-items-center justify-content-center mt-4">
              <img src="{% static 'img/avatar.png' %}"
                   height="37px"
                   width="37px"
                   alt="avatar"
                   class="rounded-circle mx-2 border border-4 border-primary border-opacity-25"/>
            </span>
            <span class="dropdown-item-text text-center mb-3">{{ user.username }}</span>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item disabled" href="#">Disabled action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
          </div>
        {% else %}
          <a class="nav-link text-white" href="{% url 'signup' %}">Sign up</a>
          <a class="nav-link text-white" href="{% url 'login' %}">Log in</a>
        {% endif %}
      </div>
    </div>
  </nav>
</header>
